KT__DJANGO__SECRET_KEY="your-secret-key"
KT__DJANGO__DEBUG=True
KT__DJANGO__DOMAIN=localhost
KT__DJANGO__HEALTHCHECK_PATH=ht/
KT__DJANGO__ADMIN_PATH=admin/

KT__POSTGRES__HOST=localhost
KT__POSTGRES__DB=kittygram
KT__POSTGRES__USER=postgres
KT__POSTGRES__PASSWORD="your-password-here"
KT__POSTGRES__PORT=5432

