volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13
    restart: always
    env_file: .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    image: warrior88888/kittygram_backend
    restart: always
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - static:/app/collected_static/
      - media:/app/media/

  frontend:
    image: warrior88888/kittygram_frontend
    restart: on-failure
    volumes:
      - static:/frontend_static

  gateway:
    image: warrior88888/kittygram_gateway
    restart: always
    ports:
      - "9000:80"
    volumes:
      - static:/staticfiles/
      - media:/media/
    depends_on:
      backend:
        condition: service_started
      frontend:
        condition: service_completed_successfully